body {
    margin: 0;
    min-width: 700px;
}
#container {
    width: 100%;
    margin: 0 auto;
}

.column {
    float: left;
}

#center {
    width: 100%;
}

#main_content {
    margin-left: 200px;
    margin-right: 300px;  /*双飞翼布局，比圣杯布局多出一个标签（center内嵌套一个div#main_content）*/
}

#left {
    width: 190px;
    margin-left: -100%;  /*双飞翼布局不需要相对定位，只需要负边距的设置*/
}

#right {
    width: 290px;
    margin-left: -290px; /*双飞翼布局不需要相对定位，只需要负边距的设置*/
}

#footer {
    clear: both;
}

